:root {
  --tree-elem-background-color: #eeeeee;
  --tree-elem-shadow-color: #00000033;
}

body {
  margin: 0;
}

.tree-container {
  width: 90vw;
  height: 70vh;
  margin-left: 5vw;
  margin-top: 5vh;
  border: 1px solid black;
}

:root:root:root:root .tree-item {
  user-select: none;
  cursor: grab;
  margin: 8px;
}
