:root {
  --bg: #ffffff;
  --border: #666666;
  --border-subtle: #aaaaaa;
  --text: #000000;
  --text-invert: #ffffff;
  --bg-2: #eeeeee;
  --bg-3: #dddddd;
  --bg-button: #333333;
  --shadow: #00000055;
}

button {
  background-color: var(--bg-button);
  border: none;
  color: var(--text-invert);
  padding: 0.3em 0.6em;
}

input {
  border: 1px solid var(--border);
}

body {
  color: var(--text);
  margin: 0;
  font-family: sans-serif;
}

.tree-container {
  flex-grow: 2;
  border-radius: 1em;
  background-color: var(--bg);
  border: 1px solid var(--border);
}

:root:root:root:root .tree-item {
  user-select: none;
  cursor: grab;
  margin: 8px;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  > div {
    margin: 0.5em;
  }

  background-color: var(--bg-3);
}

.class-search-container {
  flex-grow: 1;
}
