body {
  margin: 0;
  touch-action: none;
}

.tree-container {
  width: 90vw;
  height: 90vh;
  margin-left: 5vw;
  margin-top: 5vh;
  border: 1px solid black;
}

:root:root:root:root .tree-item {
  user-select: none;
  cursor: grab;
  margin: 8px;
}
